.todo-task-list{
    font-weight:500;
    font-size:1.1rem;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    margin:0 2rem;
}
.navlinkTodo:hover{
 color: purple;
 text-decoration:underline;
}
.navlinkTodo{
    width:10rem;
    text-decoration: none;
    color:var(--primary-blue);
    font-size:1.3rem;
   
}
.todo-task-list button{
    color:var(--secondary-blue);
    margin:1rem;
    border:none;
    font-size:1.2rem;
    cursor: pointer;  
}

.todo-task-list button:hover{
    color:purple;
    font-weight:bold;
}
