.todo-task-list-container{

}

.todo-task-list{
    font-weight:500;
    font-size:1.1rem;
}

.todo-task-list{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    margin:0 2rem;
   
}

.edit-btn{
  
}

.delete-btn{

}

.todo-task-list button{
    color:rgb(67, 95, 219);
    margin:1rem;
    border:none;
    font-size:1.2rem;
    cursor: pointer;
    
}

.todo-task-list button:hover{
    color:rgb(40, 75, 230);
    font-weight:bold;
}
