.body {
  background-color: var(--secondary-blue);
}

.home-body-parent {
  border: 1px solid var(--secondary-blue);
  background-color: var(--secondary-blue);
  display: flex;
}
.home-body {
  height: 100vh;
  width: 45rem;
  margin: auto;
}

.home-body-heading h1 {
  margin-top: 5rem;
}

.home-body-heading {
  text-align: left;
  color: white;
}

.home-body-heading p {
  font-size: 1.3rem;
}

.todo-container {
  background-color: var(--dark-white);
  padding: 1rem;
  border-radius: 20px;
  margin: 3rem 0 0 0;
}

.todo-heading {
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.add-task-btn {
  color: white;
  background-color: var(--secondary-blue);
  margin-left: 1rem;
  border: 1px solid var(--secondary-blue);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: rgb(40, 75, 230);
  border: 1px solid rgb(40, 75, 230);
}

.backgroundStop{
  pointer-events: none;
  opacity:0.5;
}

