.App {
  text-align: center;
  background-color: rgb(67, 95, 219);
  margin:0;
  padding:0;
  border:0;
}


:root {
  --primary-blue: rgb(40, 75, 230);
  --secondary-blue:rgb(67, 95, 219);
  --light-blue: rgb(130, 147, 223);
  --transparent-blue: rgb(204, 206, 218);
  --dark-white:rgb(240, 236, 236);
}

